body {
	font-size:12px;
	-webkit-user-select:none;
	 -webkit-text-size-adjust:none;
/*	-webkit-box-sizing:border-box;*/
	font-family:helvetica;
/*	padding-bottom:45px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode. */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* container of the elements */
#wrapper{
    position:absolute;
    z-index:1;
    left:0;
    width:260px;
    height:100px;
    overflow:hidden;
    border:2px solid;

}

.scroller{
    width:200px;
    height:100%;
}

.element{
    position:relative;
    width: 200px;
    height: 100px;
    float: left;
    border:2px solid;
}